.container{
	width: 100vw !important;
	padding: 0 !important; 
}

.main{
	background-image: url('../images/player_wallpaper.jpeg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
}

.room-details{
	background: white;
	height: 20vh;
	width: 25vw;
	padding: 2%;
	font-size: 20px;
	direction: rtl;
	color: black
}

.songs{
	direction: rtl;
	overflow-y:auto;
	float: left;
	height: 100vh;
	padding: 3px;;
	border: 1px solid gray;
	width: 35vw;
}

.card{
	padding: 10px 15px 10px 4px;
	background: black;
	max-height: 170px;
	border: 1px solid gray;
	opacity: 0.8;
}

.thumb{
	width: 120px;
	height: 90px;
	float: left;
}

.youtube{
	position: absolute;
	right: 0;
	top: 0;
  padding: 0;
	height: 60vh;
	width: 65vw;
}
