.container{
	width: 100vw !important;
}
.room-details{
	background: white;
	height: 10vh;
	margin-bottom: 5vh;
	margin-top: 5vh;
	border-radius: 10px;
	padding: 1%;
	font-size: 20px;
	direction: rtl;
}
.page{
		height: 50vh;
}
.songs{
	background: white;
	direction: rtl;
}

.users{
	background: white;
	height: 20vh;
	margin-top: 5vh;
}

.thumb{
	width: 60px;
	height: 60px;
	float: left;
}
