<link href="./styles/login.css" rel="stylesheet">
<div class="form-signin">
	<center><h2 class="form-signin-heading">כניסה לחדר</h2>
	<input type="text" id="inputName" class="form-control" placeholder="שם חדר" ng-model="room.name" required autofocus>
	<input type="password" id="inputPin" class="form-control" placeholder="קוד" ng-model="room.pin" required>
	<div class="btn-group">
		<button class="btn btn-primary" ng-class="room.exists ? '' : 'active'" 
			type="radio" ng-click="room.exists = false">חדש
		<button class="btn btn-primary" ng-class="room.exists ? 'active' : ''" 
			type="radio" ng-click="room.exists = true" checked>קיים
	</div>
	</center><br />
	<button class="btn btn-lg btn-primary btn-block" ng-click="enterRoom(room)">Sign in</button><br />
	{{error}}
</div>
