<div class="row">
	<div class="col-md-4 col-md-offset-7 room-details">
	<b>	שם החדר: </b> &nbsp; {{main.name}} <br>
	<b>	קוד: </b> &nbsp; {{main.pin}}
		</div>
</div>

<div class="row">

	<!--Song List-->
	<div class="col-md-4 page songs">
		<div ng-repeat="song in main.songs" class="song">
			<img class="thumb" src="{{song.thumb}}"></img>
			<p class="song-name">{{song.name}}</p>
			<p> {{song.requester}}</p>
			<p>{{buildTimeFormat(song.length)}}</p>
		</div>
	</div>
			<youtube-video video-id=main.src player="main.myplayer"></youtube-video>

</div>

<div class="row">
		<!--User List-->
		<div class="users">

		</div>
	</div>
