body {
  font-family: "Arial";
  color: #fff;
}

.page-bg {
  background-image: url('./images/wallpaper.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
  -webkit-filter: blur(2px) grayscale(0.2); 
  -moz-filter: blur(2px) grayscale(0.2);
  -o-filter: blur(2px) grayscale(0.2);
  -ms-filter: blur(2px) grayscale(0.2);
  filter: blur(2px) grayscale(0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
